body {
	background: #ADD8E6;
	background-size: 100%;
	font-family: 'Helvetica', cursive;
	color: #FFDD88;
	margin: 20px 20px 40px 40px;
	padding: 0;
	text-align: left;
}
h1 {
	text-transform: capitalize;
}
.content {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 140%;
}
.c1 {
	font-size: 90%;
	text-transform: capitalize;
}
.c2 {
	font-size: 160%;
	text-transform: capitalize;
}
.c3 {
	font-size: 120%;
	margin-left: 1em;
}
ul {
	list-style-type: none;
}
a {
	text-decoration : none;
	color : #FFFFFF;
}
